version: '2.0'

services:
  hub1:
    image: silintl/ssp-base:develop
    volumes:
      - ./development/cert:/data/vendor/simplesamlphp/simplesamlphp/cert
      - ./development/hub1/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/hub1/saml20-idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/idp-remote.php
      - ./development/hub1/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/hub1/sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/sp-remote.php
      - ./www/default-favicon.ico:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.ico
      - ./www/default-favicon.png:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.png
      - ./www/default-logo.png:/data/vendor/simplesamlphp/simplesamlphp/www/logo.png
      - ./:/data/vendor/simplesamlphp/simplesamlphp/modules/material
    ports:
      - "80:80"
    depends_on:
      - idp1
      - idp2
      - idp4
    env_file:
      - ./local.env
    environment:
      ADMIN_PASS: "abc123"
      ADMIN_PROTECT_INDEX_PAGE: "false"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      THEME_USE: "material:material"
      HUB_MODE: "true"
      ADMIN_EMAIL: "admin@example.org"
      SECRET_SALT: "FcJwl0zCDc4nuzOuQL9/7WPIj3hdfusGm2ny0dcRQm0="
      IDP_NAME: "hub-1"
      IDP_DISPLAY_NAME: "Hub 1"
      ANALYTICS_ID: "UA-XXXX-Y"

  idp1:  # used for basic testing
    image: silintl/ssp-base:develop
    volumes:
      - ./development/cert:/data/vendor/simplesamlphp/simplesamlphp/cert
      - ./development/idp1/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/idp1/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/idp1/saml20-sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-remote.php
    ports:
      - "8085:80"
    env_file:
      - ./local.env
    environment:
      ADMIN_PASS: "a"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      ADMIN_PROTECT_INDEX_PAGE: "false"
      THEME_USE: "default:default"
      ADMIN_EMAIL: "admin@example.org"
      SECRET_SALT: "8yC5mb4wqANaU+Rxrl4DHkfKzikeieXkltfFd+YDzx8="
      IDP_NAME: "idp-1"
      IDP_DISPLAY_NAME: "IdP 1"

  idp2:  # used for expiry testing
    image: silintl/ssp-base:develop
    volumes:
      - ./development/cert:/data/vendor/simplesamlphp/simplesamlphp/cert
      - ./development/idp2/enable:/data/vendor/simplesamlphp/simplesamlphp/modules/exampleauth/enable
      - ./development/idp2/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/idp2/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/idp2/saml20-sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-remote.php
      - ./www/default-favicon.ico:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.ico
      - ./www/default-favicon.png:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.png
      - ./www/default-logo.png:/data/vendor/simplesamlphp/simplesamlphp/www/logo.png
      - ./:/data/vendor/simplesamlphp/simplesamlphp/modules/material
    ports:
      - "8086:80"
    env_file:
      - ./local.env
    environment:
      ADMIN_PASS: "b"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      ADMIN_PROTECT_INDEX_PAGE: "false"
      THEME_USE: "material:material"
      ADMIN_EMAIL: "admin@example.org"
      SECRET_SALT: "edI4GGkYfkzD6/OXFvHBHb9Meu9hdKXQpNFg4q/GGfY="
      IDP_NAME: "idp-2"
      IDP_DISPLAY_NAME: "IdP 2"
      ANALYTICS_ID: "UA-XXXX-Y"
      PASSWORD_CHANGE_URL:  "http://example.org"
      PASSWORD_FORGOT_URL:  "http://example.org"

  idp4:  # used for mfa testing
    image: silintl/ssp-base:develop
    volumes:
      - ./development/cert:/data/vendor/simplesamlphp/simplesamlphp/cert
      - ./development/idp4/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/idp4/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/idp4/saml20-sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-remote.php
      - ./www/default-favicon.ico:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.ico
      - ./www/default-favicon.png:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.png
      - ./www/default-logo.png:/data/vendor/simplesamlphp/simplesamlphp/www/logo.png
      - ./:/data/vendor/simplesamlphp/simplesamlphp/modules/material
    ports:
      - "8088:80"
    depends_on:
      - silAuthDb
      - broker
    env_file:
      - ./local.env
    environment:
      ADMIN_PASS: "b"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      ADMIN_PROTECT_INDEX_PAGE: "false"
      THEME_USE: "material:material"
      ADMIN_EMAIL: "admin@example.org"
      SECRET_SALT: "NlFalr5Faa73coPUFPP78BCi2ZUYhL+qVCOuJ466Bh4="
      IDP_NAME: "idp-4"
      IDP_DISPLAY_NAME: "IdP 4"
      IDP_DOMAIN_NAME: "idp-4.local"
      MFA_SETUP_URL: "https://example.org/mfa-setup"
      MFA_LEARN_MORE_URL: "//example.org/learn-more"
      MYSQL_HOST: "silAuthDb"
      MYSQL_DATABASE: "silauth"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "pass"
      ID_BROKER_ACCESS_TOKEN: "test-cli-abc123"
      ID_BROKER_ASSERT_VALID_IP: "false"
      ID_BROKER_BASE_URI: "http://broker"
      REMEMBER_ME_SECRET: "dummy"
    command: ["bash", "-c", "whenavail silAuthDb 3306 60 ./run-idp.sh"]

  silAuthDb:
      image: silintl/mariadb:latest
      ports:
        - "3306"
      environment:
        MYSQL_ROOT_PASSWORD: "r00tp@ss!"
        MYSQL_DATABASE: "silauth"
        MYSQL_USER: "user"
        MYSQL_PASSWORD: "pass"

  broker:
    image: silintl/idp-id-broker:develop
    volumes:
      - ./development/idp4/m991231_235959_insert_mfa_test_users.php:/data/console/migrations/m991231_235959_insert_mfa_test_users.php
    ports:
      - "8090:80"
    depends_on:
      - brokerDb
    env_file:
      - ./local.env
    environment:
      IDP_NAME: "idp-4"
      MYSQL_HOST: "brokerDb"
      MYSQL_DATABASE: "broker"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "pass"
      EMAIL_SERVICE_accessToken: "dummy"
      EMAIL_SERVICE_assertValidIp: "false"
      EMAIL_SERVICE_baseUrl: "dummy"
      EMAILER_CLASS: Sil\SilIdBroker\Behat\Context\fakes\FakeEmailer
      HELP_CENTER_URL: "https://example.org/help"
      PASSWORD_FORGOT_URL: "https://example.org/forgot"
      PASSWORD_PROFILE_URL: "https://example.org/profile"
      SUPPORT_EMAIL: "support@example.org"
      EMAIL_SIGNATURE: "one red pill, please"
      API_ACCESS_KEYS: "test-cli-abc123"
      APP_ENV: "dev"
      MIGRATE_PW_FROM_LDAP: "false"
    command: ["bash", "-c", "whenavail brokerDb 3306 60 ./yii migrate --interactive=0 && ./run.sh"]

  brokerDb:
      image: silintl/mariadb:latest
      ports:
        - "3306"
      environment:
        MYSQL_ROOT_PASSWORD: "r00tp@ss!"
        MYSQL_DATABASE: "broker"
        MYSQL_USER: "user"
        MYSQL_PASSWORD: "pass"

  brokerPhpmyadmin:
      image: phpmyadmin/phpmyadmin
      ports:
          - "8091:80"
      depends_on:
          - brokerDb
      environment:
          PMA_HOST: "brokerDb"
          PMA_USER: "user"
          PMA_PASSWORD: "pass"

  hub2:  # used for announcement testing
    image: silintl/ssp-base:develop
    volumes:
      - ./development/cert:/data/vendor/simplesamlphp/simplesamlphp/cert
      - ./development/hub2/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/hub2/saml20-idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-remote.php
      - ./development/hub2/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/hub2/sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/sp-remote.php
      - ./www/default-favicon.ico:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.ico
      - ./www/default-favicon.png:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.png
      - ./www/default-logo.png:/data/vendor/simplesamlphp/simplesamlphp/www/logo.png
      - ./:/data/vendor/simplesamlphp/simplesamlphp/modules/material
      - ./development/hub2/announcement.php:/data/vendor/simplesamlphp/simplesamlphp/announcement/announcement.php
    ports:
      - "8081:80"
    depends_on:
      - idp3
    env_file:
      - ./local.env
    environment:
      ADMIN_PASS: "abc123"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      THEME_USE: "material:material"
      HUB_MODE: "true"
      ADMIN_EMAIL: "admin@example.org"
      SECRET_SALT: "QthhmKnsmC7X/+2bv3CgzBWaFR68J3fP6QgmZhM1L7M="
      IDP_NAME: "hub-2"
      IDP_DISPLAY_NAME: "Hub 2"

  idp3:  # used for announcement testing
    image: silintl/ssp-base:develop
    volumes:
      - ./development/cert:/data/vendor/simplesamlphp/simplesamlphp/cert
      - ./development/idp3/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/idp3/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/idp3/saml20-sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-remote.php
      - ./www/default-favicon.ico:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.ico
      - ./www/default-favicon.png:/data/vendor/simplesamlphp/simplesamlphp/www/favicon.png
      - ./www/default-logo.png:/data/vendor/simplesamlphp/simplesamlphp/www/logo.png
      - ./:/data/vendor/simplesamlphp/simplesamlphp/modules/material
      - ./development/idp3/announcement.php:/data/vendor/simplesamlphp/simplesamlphp/announcement/announcement.php
    ports:
      - "8087:80"
    env_file:
      - ./local.env
    environment:
      ADMIN_PASS: "a"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      ADMIN_PROTECT_INDEX_PAGE: "false"
      THEME_USE: "material:material"
      ADMIN_EMAIL: "admin@example.org"
      SECRET_SALT: "xbcCMIHHzsgE8yYC6OIBjsp+ruZYghHn1k5Bv/IGbrg="
      IDP_NAME: "idp-3"
      IDP_DISPLAY_NAME: "IdP 3"

  sp1:
    image: silintl/ssp-base:develop
    volumes:
      - ./development/cert:/data/vendor/simplesamlphp/simplesamlphp/cert
      - ./development/sp1/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/sp1/saml20-idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-remote.php
    ports:
      - "8082:80"
    env_file:
      - local.env
    environment:
      ADMIN_PASS: "a"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      ADMIN_PROTECT_INDEX_PAGE: "false"
      THEME_USE: "material:material"
      ADMIN_EMAIL: "admin@example.org"
      SECRET_SALT: "xbcCMIHHzsgE8yYC6OIBjsp+ruZYghHn1k5Bv/IGbrg="
      IDP_NAME: "sp-1"
      IDP_DISPLAY_NAME: "SP 1"

  sp2:  # used for announcement testing
    image: silintl/ssp-base:develop
    volumes:
      - ./development/cert:/data/vendor/simplesamlphp/simplesamlphp/cert
      - ./development/sp2/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/sp2/saml20-idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-remote.php
    ports:
      - "8083:80"
    env_file:
      - local.env
    environment:
      ADMIN_PASS: "a"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      ADMIN_PROTECT_INDEX_PAGE: "false"
      THEME_USE: "material:material"
      ADMIN_EMAIL: "admin@example.org"
      SECRET_SALT: "xbcCMIHHzsgE8yYC6OIBjsp+ruZYghHn1k5Bv/IGbrg="
      IDP_NAME: "sp-2"
      IDP_DISPLAY_NAME: "SP 2"
