### Required ENV vars ###
MFA_TOTP_apiBaseUrl=
MFA_TOTP_apiKey=
MFA_TOTP_apiSecret=
MFA_U2F_apiBaseUrl=
MFA_U2F_apiKey=
MFA_U2F_apiSecret=
MFA_U2F_appId=
MFA_WEBAUTHN_apiBaseUrl=
MFA_WEBAUTHN_apiKey=
MFA_WEBAUTHN_apiSecret=
MFA_WEBAUTHN_appId=
MFA_WEBAUTHN_rpDisplayName=
MFA_WEBAUTHN_rpId=
# Array of origins allowed as relying parties (with scheme, without port or path)
RP_ORIGINS=

### Optional ENV vars ###
COMPOSER_AUTH=

REMOTE_DEBUG_IP=
