.fill-viewport {
  width: 100vw;
  height: 100vh;
}

.mdl-layout__content {
  padding: 1em;
}

[layout-children=row] {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* make sure the children break nicely for different browser widths, e.g., 
     tablet, phone, etc. */
  flex-wrap: wrap;
}

[layout-children=column] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[child-spacing=space-around] {
  justify-content: space-around;
}

[child-spacing=space-between] {
  justify-content: space-between;
}

[child-spacing=center] {
  justify-content: center;
}

.margin {
  margin: 1em;
}

.white-bg {
  background-color: white;
}

.fixed-height {
  height: 185px;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0px;
}

.mdl-card.disabled {
  cursor: not-allowed;
}

.alert {
  max-width: 80%;
  min-width: 30%;
  background-color: tomato;
  border-radius: 0.33em;
  padding: 1em;
}

.alert a {
  color: blue;
}

/* The font-size in the mdl-textfield was overriding the one in 
   caption since it was defined later in the CSS but the font-size from
   caption is what was needed here so more specificity required to override
   it back 
*/
.mdl-textfield.mdl-typography--caption {
  font-size: 12px
}

/* Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), 
       local('MaterialIcons-Regular'), 
       url(/module.php/material/material-icons.woff2) format('woff2');
}