.fill-viewport {
  width: 100vw;
  height: 100vh;
}

[layout-children=row] {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* make sure the children break nicely for different browser widths, e.g., 
     tablet, phone, etc. */
  flex-wrap: wrap;
}

[layout-children=column] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[child-spacing=space-around] {
  justify-content: space-around;
}

[child-spacing=space-between] {
  justify-content: space-between;
}

[child-spacing=center] {
  justify-content: center;
}

.margin {
  margin: 1em;
}

.white-bg {
  background-color: white;
}

.fixed-height {
  height: 185px;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0px;
}

.mdl-card.disabled {
  cursor: not-allowed;
}

/* Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), 
       local('MaterialIcons-Regular'), 
       url(/module.php/theme-material/material-icons.woff2) format('woff2');
}